@model POViewModel
@{
    Layout = "_PrintLayout";
    ViewData["Title"] = Model.IdString;
    var border = " border='1'";
    border = "";
    var backgroundYellow = "background-color:#FFFF01";
}


<table width="800" @border cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td>
                <img src="~/images/logo.png" width="200" />  <br /><br />
                @Model.MainCompanyName<br />
                @Model.MainCompanyAddress<br />
                @Model.MainCompanyContact<br />
            </td>
            <td style="text-align:right">
                <h2>Sales Invoice</h2>
                <table @border style="width:100%; text-align:center;">
                    <thead>
                        <tr>
                            <th style="@backgroundYellow">PO Number</th>
                        </tr>
                        <tr>
                            <th>@Model.IdString</th>
                        </tr>
                        <tr>
                            <th style="@backgroundYellow">PO Status</th>
                        </tr>
                        <tr>
                            <th>@Model.PoStatus</th>
                        </tr>
                        <tr>
                            <th style="@backgroundYellow">BILL TO</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:left;">
                        <tr>
                            <td>@Model.CompanyName</td>
                        </tr>
                        <tr>
                            <td>@Model.CompanyAddress</td>
                        </tr>
                        <tr>
                            <td>@Model.CompanyContact</td>
                        </tr>
                        <tr>
                            <td>@Model.FullName</td>
                        </tr>
                        <tr>
                            <td>@Model.Email</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">
                <table @border style="width:100%;" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="7" style="text-align:right">
                                <hr />
                            </th>
                        </tr>
                        <tr style="@backgroundYellow">
                            <th>Barcode</th>
                            <th>Description</th>
                            <th>Size</th>
                            <th>QTY</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                            <th>Price Discount</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="7" style="text-align:right">
                                <hr />
                            </th>
                        </tr>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Barcode</td>
                                <td>@item.Name - @item.Description</td>
                                <td>@item.Size</td>
                                <td style="text-align:right">@item.Qty</td>
                                <td style="text-align:right">@item.PriceString</td>
                                <td style="text-align:right">@item.TotalPriceString</td>
                                <td style="text-align:right">@item.PriceDiscountString</td>
                                <td style="text-align:right">@item.TotalString</td>
                            </tr>
                        }
                        <tr>
                            <th colspan="7" style="text-align:right">
                                <hr />
                            </th>
                        </tr>
                        <tr style="@backgroundYellow">
                            <th colspan="5" style="text-align:right">
                                Sub Total:
                            </th>
                            <td colspan="2" style="text-align:right">
                                @Model.TotalString
                            </td>
                        </tr>
                        <tr style="@backgroundYellow">
                            <th colspan="5" style="text-align:right">
                                Tax:
                            </th>
                            <td colspan="2" style="text-align:right">
                                @Model.PriceTaxString
                            </td>
                        </tr>
                        <tr style="@backgroundYellow">
                            <th colspan="5" style="text-align:right">
                                Other Fees: @Model.OtherRemarks
                            </th>
                            <td colspan="2" style="text-align:right">
                                @Model.OtherFeesString
                            </td>
                        </tr>
                        <tr style="@backgroundYellow">
                            <th colspan="5" style="text-align:right">
                                Discount:
                            </th>
                            <td colspan="2" style="text-align:right">
                                @Model.PriceDiscountString
                            </td>
                        </tr>
                        <tr>
                            <th colspan="7" style="text-align:right">
                                <hr />
                            </th>
                        </tr>
                        <tr style="@backgroundYellow">
                            <th colspan="5" style="text-align:right">
                                Total:
                            </th>
                            <td colspan="2" style="text-align:right">
                                <b>@Model.GrandTotalString</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>